/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --purple-color: #372137;
  --secondary-color: #a38f9f;
  --gray-color: #ddd3e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: row;
}

body {
  font-family: 'RuckSack', sans-serif;
  font-display: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  min-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* RuckSack Light */
/* font-family: rucksack,sans-serif;
font-weight: 300;
font-style: normal;

**RuckSack Book**
font-family: rucksack,sans-serif;
font-weight: 400;
font-style: normal;

RuckSack Medium
font-family: rucksack,sans-serif;
font-weight: 500;
font-style: normal;

RuckSack Demi
font-family: rucksack,sans-serif;
font-weight: 600;
font-style: normal;

RuckSack Bold
font-family: rucksack, sans-serif;
font-weight: 700;
font-style: normal; */

a {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  width: 100%;
}

.bg-purple {
  background-color: var(--purple-color);
}

.purple {
  color: var(--purple-color);
}

/* Utilities */
.container {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  min-height: 100vh;
}

.border-color {
  border: 2px solid var(--purple-color);
}

/* Text Styles*/

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.background-gray {
  /* background-color: var(--gray-color); */
  background-color: rgb(221, 211, 224, 0.3);
}
.background-purple {
  background-color: var(--purple-color);
  color: white;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15rem;
}

.x-large {
  font-size: 4em;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Landing Page */
.landing {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}

.zoom {
  -webkit-animation: zoomin 20s ease-in infinite;
  animation: zoomin 20s ease-in infinite;
  transition: all 2s ease-in-out;
}

/* .home-gallery-image {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 95%;
  min-height: 300px;
  filter: brightness(90%);
  object-fit: cover;
} */

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
}

.hamburger {
  position: fixed;
  margin: 15px;
  font-size: 2em;
  color: #3a1b49;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.hamburger:hover {
  background-color: rgba(255, 255, 255);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

.divider {
  margin: 0 auto;
  border-bottom: solid black 3px;
  width: 100px;
  margin-bottom: 15px;
}

.home {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.home-text {
  color: white;
  margin: auto;
  z-index: 3;
  position: absolute;
  /* font-family: 'Dancing Script', cursive; */
}

.home-gallery {
  overflow: hidden;
}

.home-logo {
  height: 300px;
  width: auto;
}

.feature {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  min-height: 500px;
  min-width: 350px;
  flex-basis: 45%;
  margin: 5px;
  color: #3a1b49;
  border: 5px solid #3a1b49;
}

.feature-header {
  padding: 15px;
  /* flex-grow: 1; */
}

.feature-text {
  flex-basis: 50%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 75%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.feature-text p {
  padding-bottom: 5px;
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.video-responsive {
  overflow: hidden;
  padding: 25px;
  /* padding-top: 25px; */
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 25px;
  position: absolute;
}

/* Mobile Styles */
/* @media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
/* .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  } */

/* Sidebar */
.sidebar-icon {
  font-size: 2em;
  position: fixed;
  margin: 15px;
  color: var(--purple-color);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sidebar-icon:hover {
  background-color: rgba(255, 255, 255);
}

/* .hamburger {
  position: fixed;
  margin: 15px;
  font-size: 2em;
  color: #3a1b49;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.hamburger:hover {
  background-color: rgba(255, 255, 255);
} */

.sidebar-link {
  display: flex;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  color: black;
}

.sidebar-link:hover {
  box-shadow: inset 5px 0px 10px var(--purple-color);
}

.sidebar-sublink {
  display: flex;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  cursor: pointer;
  color: black;
  font-size: 0.75rem;
}

.sidebar-sublink:hover {
  box-shadow: inset 5px 0px 10px var(--purple-color);
}

.sidebar-ext-icon {
  display: grid;
  place-items: center;
}

.sublinks-enter {
  max-height: 0;
  overflow: hidden;
}

.sublinks-enter-active {
  max-height: 100%;
  /*Animation*/
  transform: translateY(0);
  transition: height 1000ms, transform 1000ms;
}

.sublinks-exit {
  max-height: 100%;
}

.sublinks-exit-active {
  max-height: 0;
  /*Animation*/
  transition: max-height 1000ms, transform 1000ms;
}

/* Popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  top: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: absolute;
  padding: 25px;
  margin: auto;
  border-radius: 20px;
  background: white;
}

/*Gallery*/
.gallery-image {
  height: 200px;
  width: auto;
  margin: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.gallery-image:hover::before {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 15px #3a1b49;
}
.gallery-image:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  box-shadow: 0 0 15px #3a1b49;
  text-shadow: 0 0 15px #3a1b49;
}

.gallery-image-full {
  position: relative;
  max-height: 600px;
  min-width: 0;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 5px;
  object-fit: contain;
}

.gallery-arrow {
  font-size: 2em;
  color: white;
  z-index: 5;
  height: 100%;
  flex-grow: 1;
  padding: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery-arrow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-shadow: 0 0 15px #3a1b49;
}

.gallery-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-gallery-image {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 95%;
  /* min-height: 300px; */
  filter: brightness(90%);
  object-fit: cover;
}

.carousel-item {
  position: relative;
  padding-top: 100%;
}

.carousel-image {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 95%;
  /* min-height: 300px; */
  filter: brightness(90%);
  object-fit: cover;
}

.carousel-text {
  color: white;
  position: absolute;
  bottom: 45px;
  left: 45px;
  transform: translate(0px, -50%);
  z-index: 3;
  padding: 5px;
  background-color: rgb(58, 27, 73, 0.5);
  border-radius: 5px;
}

.fs-carousel {
  width: 100%;
}

.fs-carousel-image {
  object-fit: contain;
  max-height: 600px;
  width: 100%;
}

.fs-icon {
  font-size: 2em;
  position: fixed;
  margin: 15px;
  color: white;
  background-color: none;
  border-radius: 5px;
  padding: 5px;
}

/* Contact Form */

.contact-form {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
  min-width: 350px;
  max-width: 700px;
}

.contact-input {
  width: 80%;
  margin: 10px auto;
  font-weight: 500;
  font-size: 1em;
  border-radius: 5px;
  background-color: transparent;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  box-sizing: border-box;
  outline: 0;
  font-family: inherit;
}

.contact-input:focus {
  border: 2px solid #cc4949;
}

.contact-textarea {
  width: 80%;
  height: 200px;
  margin: 10px auto;
  font-weight: 500;
  font-size: 1em;
  border-radius: 5px;
  background-color: transparent;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  box-sizing: border-box;
  outline: 0;
  font-family: inherit;
  resize: vertical;
}

.contact-textarea:focus {
  border: 2px solid #cc4949;
}

.contact-submit {
  background-color: var(--purple-color);
  width: 150px;
  margin: 0 auto;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.25em;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  font-family: inherit;
}

.contact-submit:hover {
  background: #cc4949;
}

.contact-error {
  font-size: 0.75rem;
  color: red;
}

/*Footer*/

.footer-link {
  color: white;
  cursor: pointer;
}

.footer-link:hover {
  text-shadow: 1px 1px 1px yellow;
}
